package view

templ Index() {
	<html lang="en">
		<head>
			<title>go-pocketbase-htmx-templ-tailwind</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link href="css/tailwind.css" rel="stylesheet"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body class="bg-purple-200 flex justify-center items-center">
			{ children... }
		</body>
	</html>
}
