package view

import "github.com/maxpaulus43/go-pocketbase-htmx-templ-tailwind/view/layout"

templ Index(isLoggedIn bool) {
	@layout.Base() {
		<h1>Hello From the Index </h1>
		<div class="flex flex-col">
			if (!isLoggedIn) {
				<a href="/login">Login</a>
				<a href="/todos">See Todos</a>
			} else {
				<form action="/logout" method="post">
					<button hx-post="/logout">Logout</button>
				</form>
			}
		</div>
	}
}
